<div class="menu-content">
    <section>
        <img class="logo" src="assets/imgs/header/logo.png" alt="" />
        <div class="menu-item">
            <ion-icon name="home"></ion-icon>
            <p class="item">Home</p>
        </div>

        <div class="menu-item">
            <ion-icon name="accessibility"></ion-icon>
            <p class="item">Meu corpo</p>
        </div>

        <div class="menu-item">
            <ion-icon name="trophy"></ion-icon>
            <p class="item">Objetivos e Conquistas</p>
        </div>
    </section>
    <div class="menu-item">
        <ion-icon name="exit"></ion-icon>
        <p class="item">Sair</p>
    </div>
</div>
