.logo {
    width: 80px;
    object-fit: contain;
    margin: 1.5rem 0 1rem 1.5rem;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #111111;
}

.menu-item {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;

    ion-icon {
        font-size: 25px;
        padding: 1rem 1rem 1rem 1.5rem;
        color: var(--ion-color-primary);
    }

    .item {
        color: var(--ion-color-primary);
        font-size: 1rem;
    }
}
